<%- include("partials/header") -%>

<h1>Contact</h1>
<div class="bottom-container">
    <a class="footer-link" href="https://www.instagram.com/varsha_p123/">Instagram</a>
    <img class="social-icon" src="https://img.icons8.com/fluency/48/000000/instagram-new.png" />
    <hr>
    <a class="footer-link" href="https://twitter.com/Varmyp">Twitter</a>
    <img class="social-icon" src="https://img.icons8.com/fluency/48/000000/twitter.png" />
    <hr>
    <a class="footer-link" href="https://www.facebook.com/varsha.prajapati.9212">Facebook</a>
    <img class="social-icon" src="https://img.icons8.com/color/48/000000/facebook-new.png" />
    <hr>
    <a class="footer-link" href="mailto:varshaprajapati.15004@gamil.com">Email</a>
    <img class="social-icon" src="https://img.icons8.com/color/48/000000/gmail-new.png" />

  </div>
<p><%= contactContent %></p>

<%- include("partials/footer") -%>
